/* FONTER
Header          - font-family: 'Caveat', cursive;
Navigaciayi ejer - font-family: 'Satisfy', cursive;
Text            - font-family: 'Inconsolata', monospace;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  /*transition-duration: 1500ms;*/
}

.red{
    padding-left: 102px;
    text-transform: uppercase;
    /* font-size: 40px; */
    font-size: calc(22px + 16 * (100vw / 1280));
    font-weight: 600;
    color: #d03958;
    font-family: 'Satisfy', cursive;
}

.black{
    color: black;
    font-family: 'Satisfy', cursive;
}

/*Header*/
header {
    background-color: white;
    position: fixed;
    z-index: 2;
    display: flex;
    width: 100%;
    /*sax mi toxi vra*/
    justify-content: space-between;
    /*navy tanuma logo-i hakarak komy floati pes*/
    align-items: center;
    /*navi elementnery mejtexe dnum*/
    padding: 24px 102px;
    border-bottom: 3px solid #d03958;
}

#scrollTop{
    position: fixed;
    bottom: 185px;
    right: 35px;
    font-size: 40px;
    z-index: 9999;
    color: black;
    font-size: 45px;
}

.isShowBtn{
    opacity: 1;
    transition: 1s;
}

.isShowBtn_hide{
    opacity: 0;
}

.logo {
    position: relative;
    color: #d03958;
    /* font-size: 60px; */
    font-size: calc(40px + 16 * (100vw / 1280));
    font-family: 'Caveat', cursive;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.logo:hover {
    transform: rotate(360deg) translateZ(0);
    box-shadow: 10px 5px 10px 5px #d03958;
}

nav>ul {
    position: relative;
    display: flex;
}

.fa-bars{
    position: relative;
    color: #d03958;
    display: none;
    font-size: 25px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

nav>ul>li>a {
    position: relative;
    margin: 0 15px;
    /* font-size: 15px; */
    font-size: calc(9px + 5 * (100vw / 1280));
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    transition: .5s;
    font-family: 'Satisfy', cursive;
}

.active {
    background-color: #d03958;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

a:hover {
    color: #d03958;
    background-color: #fff;
}


/*About*/
.main{
    height: 790px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/7.jpeg);
    display: flex;
    justify-content: space-between;
    padding-top: 204px;
}

.article{
    padding-left: 102px;   
}

.article__name1, 
.article__name2 {
    /* font-size: 90px; */
    font-size: calc(60px + 16 * (100vw / 1280));
    font-family: 'Satisfy', cursive;
}

.article__name1 {
    color: #d03958;
}

.article__name2 {
    color: white;
    margin-top: -30px;
    margin-bottom: 25px;
}

.inners{
    padding-right: 102px;
}

.inner{
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    background: #d03958;
    padding: 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    height: 190px;
    clip-path: circle(10% at 90% 20%);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    cursor: pointer;
}

.blue{
    background-color: #0090ff;
}

.blue .text{
    color: #0090ff;
}

.orange{
    background-color: #ff7b00;
}

.orange .text{
    color: #ff7b00;
}


.inner:hover{
    clip-path: circle(75%);
    background: white;
}

.inner:hover .comment{
    opacity: 1;
}

.text{
    color: #d03958;
    margin: 0;
    font-size: 2em;
}

.comment{
    opacity: 0;
    color: black;
    font-size: .9rem;
}


/*Services*/
#one {
	padding-top: 215px;
	margin-top: -105px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

.services__container{ 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    margin-bottom: 100px;
    margin-top: 70px;
}

.box{ 
    padding-left: 55px;/*texti hamar*/
    padding-right: 55px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    flex-basis: 17%; 
    transition: transform .5s;
}

.box:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.box>p{
    margin-top: 40px;
    color: black;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
}

.fa-heart-o, .fa-cog, .fa-lightbulb-o, .fa-location-arrow{
    font-size: 130px;
    color: #d03958;
}


/*Our Story*/
.story{
    padding: 35px 102px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #d03958;
}

.story__p{
    /* font-size: 20px; */
    font-size: calc(2px + 16 * (100vw / 1280));
    color: white;
    font-family: 'Inconsolata', monospace;
}

.story__btn{
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 500;
    font-family: 'Satisfy', cursive;
    padding: 15px 25px;
    margin-left: 121px;
    transition: .5s;
    outline: none;
    cursor: pointer;
    font-size: calc(4px + 10 * (100vw / 1280));
}

.story__btn:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/*Pricing*/
#two {
	padding-top: 215px;
	margin-top: -105px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
    border-bottom: 3px solid #d03958;
}

.pricing__container{ 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}

.pricing__card{
    /* display: table-cell; */
    text-align: center;
    flex-basis: calc(250px + 16 * (100vw / 1280));  /*20vw*/
    transition: transform .5s;
    margin-top: 60px;
    font-family: 'Inconsolata', monospace;
    height: auto;
    background-color: #d03958;
    border-radius: 10px;
    
    font-size: calc(2px + 16 * (100vw / 1280));
}

.pricing__card>button{
    margin-bottom: 25px;
}

.pricing__card>p{
    font-size: 18px;
}

.pricing__card>p:nth-child(1){
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
}

.pricing__card>p:nth-child(3){
    margin-top: 40px;
    margin-bottom: 30px;
}

.pricing__card>h3{
    font-size: 40px;
}

.pricing__card>button{
    border-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
    outline: none;
    transition: .5s;
    cursor: pointer;
}

.pricing__card>button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/*testimonial taza*/
#three{
    padding-top: 215px;
	margin-top: -105px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
    border-bottom: 3px solid #d03958;
}

.testimonial__name{
    padding-left: 102px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    color: #d03958;
    font-family: 'Satisfy', cursive;
}


.container{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 85px;
    margin-top: 35px;
}

.container .card{
    font-family: 'Inconsolata', monospace;
    display: table-cell;
    /* flex-basis: ; */
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    border: 1px solid #333;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #d03958;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.8;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 220px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    /* box-shadow: 0 20px 50px rgba(0,0,0,0.8); */
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    border: 1px solid #333;

}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}


/*Contact*/
#four{
    padding-top: 215px;
	margin-top: -105px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

.contacts__section{
    margin-top: 45px;
}

.contacts__section>h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.contacts__form{
    overflow: hidden;
    margin: auto;
    padding: 0 10px;
    max-width: 600px;
}

.contacts__text{
    display: block;
    overflow: none;
    box-sizing: border-box;
    margin: 12px 0;
    padding: 15px 30px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: white;
    transition: .6s;
    font-family: 'Inconsolata', monospace;
}

.contacts__text:focus{
    outline: none;
    outline-offset: 0px;
    box-shadow: 0 0 10px #d03958;
}

textarea.contacts__text{
    height: 120px;
    resize: none;
}

.contacts__btn{
    margin-left: 28vh;
    padding: 10px 50px;
    border: 0;
    border-radius: 5px;
    background: #d03958;
    color: white;
    cursor: pointer;
}

.contacts__btn:hover{
    outline: none;
}

input:focus::-webkit-input-placeholder{
    color: transparent;
    transition: 0.8s;
}


.contact{
    color: black;
    text-align: center;
    font-size: 18px;
}

.contact>ul>li>a{
    color: black;
    text-decoration: none;
}

/* .fa-phone,
.fa-envelope-o{
    color: #d03958;
} */

.contact li:hover{
    text-decoration: underline;
}

.fa-facebook, .fa-whatsapp, .fa-instagram{
    margin: 10px 10px;
    text-decoration: none;
    font-size: 35px;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    color: #d03958; 
    
}

.fa-facebook:hover, .fa-whatsapp:hover, .fa-instagram:hover{
    transform: scale(1.5,1.5);
}


/* Location (Iframe) */
iframe{
    width: 100%;
    height: 86vh;
}















/*Section Request
.request {
    background-color: #d03958;
    border-radius: 5px;
    width: 398px;
    height: 550px;
    display: block;
    float: right;
    margin-right: 102px;
    margin-left: 100px;
}

.request__quote {
    margin-left: 102px;
    margin-top: 30px;
    font-size: 20px;
    color: white;
}

.request__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 57px;
    width: 353px;
    margin-top: 12px;
    border-radius: 3px;
    border: none;
    transition: .5s;
}

.request__input:focus {
    outline: none;
    box-shadow: 0 0 20px black;
}

.request__input:focus::-webkit-input-placeholder{
    color: transparent;
    transition: .5s;
}

.request__checkbox {
    margin-bottom: 20px;
    margin-left: 25px;
    height: 20px;
    width: 20px;
}

.request__label {
    margin-left: 40px;
    color: white;

}

.request__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 57px;
    width: 353px;
    color: white;
    background-color: black;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    transition: .5s;
}

.request__btn:focus {
    outline: none;
    color: black;
    background-color: white;
    box-shadow: 0 0 20px black;
}*/


/*Footer*/
footer{
    font-size: 17px;
    border-top: 3px solid #d03958;
    font-family: 'Inconsolata', monospace;
    display: block;
    background-color: black;
    height: auto;
    padding: 50px 102px;
}

.end{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end__copyright{
    color: white;
}

.end__p{
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}

.end__text{
    color: #d03958;
}

.end__logo{
    font-family: 'Caveat', cursive;
    font-size: 47px;
    color: #d03958;
}

.end__logo:hover{
    background-color: black;
}